.home-page-base {
  /* display: flex; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: space-around;
}

.button-group {
  width: 100vw;
  z-index: 10;
}

.button-group .capture-button {
  position: absolute;
  left: calc(50% - 35px);
  width:70px;
  bottom: 20%;
  height: 70px;
  line-height: 70px;
  border-radius: 100px;
}